@import '../../../assets/styles/shared.scss';

.form-wrapper {
  padding: 0 15vw;
  @media only screen and (max-width: $desktop) and (orientation: landscape) {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    & input {
      margin: 5px;
    }
  }
}

.user-info-icon-wrapper {
  margin-bottom: 10vh;
  @media only screen and (max-width: $desktop) and (orientation: landscape) {
    margin-bottom: 5vh;
  }
}
