<div class="page-content-wrapper">
  <div class="page-content-body-wrapper">
    <app-icon-with-text
      [text]="'Welcome to testing assignment at ZENTITY.'"
      [iconName]="'Code@3x.png'"
    ></app-icon-with-text>
  </div>
  <button (click)="onStart()" class="zentity-button-white">Start</button>
</div>
