<div class="form-input-wrapper">
  <div *ngIf="!editMode; else editInput">
    <label>{{ label }}</label>
    <div class="form-readonly-text">
      <p>{{ value | formatInputText: inputType }}</p>
      <ng-container *ngIf="editable">
        <p *ngIf="showDeleteLabel" class="delete-label" (click)="deleteValue()">
          Delete
        </p>
        <p (click)="setEditMode()" class="edit-label">Edit</p>
      </ng-container>
    </div>
  </div>
  <ng-template #editInput>
    <div class="input-wrapper" [ngClass]="{ invalid: invalidState }">
      <input value="{{ value }}" (input)="onValueChange($event)" />
      <div style="padding-top: 2px">
        <img (click)="cancelChanges()" src="../../../../assets/Cross@3x.png" />
        <img
          (click)="saveChanges()"
          src="../../../../assets/Next Blue@3x.png"
        />
      </div>
    </div>
    <ng-container *ngIf="invalidState">
      <p class="form-error-text">Ooops. This field is mandatory.</p>
    </ng-container>
  </ng-template>
</div>
