@import "../../../../assets/styles/shared.scss";

.input-wrapper {
  display: flex;
  border: solid 2px $green;
  &.invalid {
    border-color: $red;
  }
}
input {
  flex-grow: 1;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  padding-left: 1rem;
  &:focus {
    border: none;
    outline: none;
  }
}

img {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  width: 2rem;
  cursor: pointer;
}

label {
  font-family: "Open Sans", sans-serif;
  font-size: 8pt;
  opacity: 0.5;
}

p {
  color: $black;
  line-height: 0;
}

.form-readonly-text {
  display: flex;
}

.form-readonly-text {
  :nth-child(1) {
    flex-grow: 1;
  }

  & .delete-label {
    color: $red;
    font-size: 8pt;
    align-self: center;
    cursor: pointer;
  }

  & .edit-label {
    color: $green;
    font-size: 8pt;
    margin-left: 2rem;
    align-self: center;
    cursor: pointer;
  }
}

.form-input-wrapper {
  margin-bottom: 10px;

  & .form-error-text {
    color: $red;
    padding-left: 2rem;
  }
}

@media only screen and (min-width: $desktop) {
  p {
    font-size: 18pt;
  }
  .edit-label, .delete-label {
    font-size: 12pt!important;
  }

  .form-input-wrapper {
    padding: 1rem;
    border-right: 1px solid $black;
  }
}
