<div class="page-content-wrapper">
  <div class="password-header-wrapper">
    <p class="header">{{ userName }}</p>
  </div>

  <div class="page-content-body-wrapper">
    <div>
      <div class="user-info-icon-wrapper">
        <app-icon-with-text
          [text]="'Great, now your password, please.'"
          [iconName]="'Password@3x.png'"
        ></app-icon-with-text>
      </div>

      <div class="form-wrapper" [formGroup]="form">
        <input
          class="password-input"
          type="password"
          placeholder="Make it strong!"
          formControlName="password"
        />

        <input
          class="password-input"
          type="password"
          placeholder="And once again..."
          formControlName="passwordVerify"
        />
      </div>
      <app-form-input-wrapper
        [formControlObj]="form"
        [formControlType]="'form'"
      ></app-form-input-wrapper>
    </div>
  </div>

  <button (click)="submitPassword()" class="zentity-button-white">
    Continue
  </button>
</div>
