@import '../../../../assets/styles/shared.scss';

@media only screen and (max-width: $desktop) and (orientation: landscape) {
  p {
    margin: 0;
  }
  .user-info-icon-wrapper {
    margin-bottom: 0;
  }
}

.password-header-wrapper {
  flex-grow: 1;
  text-align: center;
}

.password-input {
  width: 95%;
  margin-bottom: 1rem;
}
