<div class="user-info-layout">
  <div class="company-header-wrapper">
    <div class="back-button-wrapper">
      <img
        [hidden]="!showBackButton"
        (click)="back()"
        alt="Back button"
        src="../../../assets/Next White@3x.png"
        class="back-button"
      />
    </div>
    <img
      alt="Zentity company logo"
      src="../../../assets/Logo@3x.png"
      class="company-logo"
    />
  </div>
  <div class="content-wrapper">
    <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
  </div>
</div>
