@import "../../../assets/styles/shared.scss";

.user-info-layout {
  @include app-layout;
  background-color: $blue;
}

.company-header-wrapper {
  display: flex;
  padding-top: 5vh;

  &::after {
    flex: 1;
    content: "";
  }
  & .company-logo {
    @include main-logo;
  }

  & .back-button-wrapper {
    flex: 1;
    & .back-button {
      @include back-button;
    }
  }
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  align-self: center;
}
