<div class="page-content-wrapper">
  <div class="page-content-body-wrapper">
    <div>
      <div class="user-info-icon-wrapper">
        <app-icon-with-text
          [text]="'Start by setting up your username.'"
          [iconName]="'User@3x.png'"
        ></app-icon-with-text>
      </div>

      <div class="form-wrapper" [formGroup]="form">
        <app-form-input-wrapper [formControlObj]="form.controls['userName']">
          <input
            class="user-name-input"
            type="text"
            placeholder="Here, please!"
            formControlName="userName"
          />
        </app-form-input-wrapper>
      </div>
    </div>
  </div>
  <button (click)="submitUserName()" class="zentity-button-white">
    Continue
  </button>
</div>
