<div>
  <div class="form-input-content-wrapper">
    <div>
      <ng-content></ng-content>
      <ng-container *ngIf="formControlObj.invalid && formControlObj.touched">
        <div class="error-wrapper" *ngFor="let error of errors">
          <p class="form-error-icon">
            <img src="../../../../assets/Error@3x.png" />
          </p>
          <p class="form-error-text">
            {{ error | errorText: formControlType }}
          </p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
