.error-wrapper {
  display: flex;
  width: 30vw;
  min-width: 200px;
  max-width: 500px;
  & p {
    display: flex;
    align-items: center;
  }
}

.form-input-content-wrapper {
  justify-content: center;
  display: flex;
}
