@import '../../../../assets/styles/shared.scss';

.icon-w-text_wrapper {
  margin: 0px 20vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon-w-text_img {
  height: 3rem;
  align-self: center;
  @media only screen and (min-width: $desktop) {
    height: 5rem;
  }
}

.icon-w-text_text {
  margin: 0;
  text-align: center;
}

@media only screen and (max-height: $mobile) {
  .icon-w-text_wrapper {
    flex-direction: row;
  }
  .icon-w-text_img {
    height: 1rem;
  }
}
