@import "./assets/styles/shared.scss";

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", monospace;
  font-size: 18pt;
  font-weight: bold;
  color: $red;
  line-height: 24pt;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: $red;
  line-height: 24pt;
  @media only screen and (min-width: $desktop) {
    font-size: 18pt;
  }
}

p {
  color: $white;
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  line-height: 28pt;
  @media only screen and (max-width: $mobile) {
    font-size: 8pt;
  }
  &.header {
    &::before {
      background-image: url("./assets/Slash@3x.png");
      background-repeat: no-repeat;
      background-size: 10px 20px;
      display: inline-block;
      width: 10px;
      height: 20px;
      content: "";
      padding-right: 5px;
    }
    @media only screen and (max-height: $mobile) {
      line-height: unset;
      font-size: 8pt;
      &::before {
        background-size: 5px 10px;
        width: 5px;
        height: 10px;
      }
    }
  }
}

.zentity-button-white {
  background: transparent url("./assets/Next White@3x.png") right 0px no-repeat;
  color: $white;
  &:hover,
  &:active {
    color: $red;
    background: $white url("./assets/Next@3x.png") right 0px no-repeat;
    background-size: 2.5rem;
  }
  @include zentity-button;
}

.zentity-button-red {
  background: transparent url("./assets/Next@3x.png") right 0px no-repeat;
  color: $red;
  &:hover,
  &:active {
    color: $white;
    background: $red url("./assets/Next White@3x.png") right 0px no-repeat;
    background-size: 2.5rem;
  }
  @include zentity-button;
}

.page-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-content-body-wrapper {
  flex-grow: 2;
  display: flex;
  align-items: center;
  align-self: center;
}

.user-info-layout {
  input {
    background-color: transparent;
    color: $white;
    border: solid 1px;
    height: 40px;
    padding: 0 0.5rem;
    &.ng-invalid.ng-touched {
      color: $red;
    }
  }
}

.form-error-icon {
  float: left;
  width: 2rem;
  & img {
    width: 1.5rem;
  }
}

.form-error-text {
  font-size: 8pt;
  line-height: 10pt;
  opacity: 0.9;
  padding-top: 0.3rem;
}
