$blue: #14173d;
$red: #ea573e;
$white: #ffffff;
$black: #000000;
$green: #1fd6ba;

$desktop: 960px;
$mobile: 480px;

@mixin back-button {
  margin-left: 1.5rem;
  width: 10vw;
  max-width: 100px;
  min-width: 40px;
  align-self: center;
  transform: rotate(180deg);
  cursor: pointer;
  @media only screen and (max-width: $desktop) and (orientation: landscape) {
    max-width: 40px;
  }
}

@mixin app-layout {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@mixin main-logo {
  width: 30vw;
  max-width: 175px;
  min-width: 100px;
  height: auto;
  align-self: center;
  @media only screen and (max-width: $desktop) and (orientation: landscape) {
    padding-bottom: 0;
    max-width: 100px;
  }
}

@mixin zentity-button {
  background-color: transparent;
  padding: 0.7rem 2.5rem 0.7rem 1rem;
  background-size: 2.5rem;
  border: solid 1px;
  cursor: pointer;
  text-align: left;
  flex-grow: 1;
  align-self: center;
  margin: 5vh 25vw;
  max-height: 40px;
  margin-top: auto;
  width: 50vw;
  max-width: 400px;
  min-width: 100px;
}
