<div class="profile-layout">
  <div class="company-header-wrapper">
    <div class="back-button-wrapper">
      <img
        alt="Back button"
        (click)="back()"
        src="../../../../assets/Next@3x.png"
        class="back-button"
      />
    </div>
    <img
      alt="Zentity company logo"
      src="../../../assets/Logo@3x.png"
      class="company-logo"
    />
    <div class="profile-photo-wrapper">
      <img alt="Profile photo" src="../../../../assets/Selfie@3x.png" />
    </div>
  </div>
  <p class="header">Edit your profile</p>
  <div class="form-wrapper" [formGroup]="form">
    <app-input-form-control
      formControlName="name"
      [label]="'Name'"
      [showDeleteLabel]="false"
      (save)="updateProfile()"
    >
    </app-input-form-control>
    <app-input-form-control
      formControlName="userName"
      [label]="'User Name'"
      [showDeleteLabel]="false"
      (save)="updateProfile()"
    >
    </app-input-form-control>
    <ng-container formGroupName="address">
      <app-input-form-control
        formControlName="address"
        [label]="'Address'"
        [showDeleteLabel]="true"
        (save)="updateProfile()"
      >
      </app-input-form-control>
      <app-input-form-control
        formControlName="city"
        [label]="'City'"
        [showDeleteLabel]="true"
        (save)="updateProfile()"
      >
      </app-input-form-control>
      <app-input-form-control
        formControlName="postalCode"
        [label]="'Postal Code'"
        [showDeleteLabel]="true"
        [inputType]="'postalCode'"
        (save)="updateProfile()"
      >
      </app-input-form-control>
    </ng-container>
    <ng-container formGroupName="contact">
      <app-input-form-control
        formControlName="email"
        [label]="'E-mail'"
        [showDeleteLabel]="true"
        (save)="updateProfile()"
      >
      </app-input-form-control>
      <app-input-form-control
        formControlName="phone"
        [label]="'Phone'"
        [showDeleteLabel]="true"
        [inputType]="'phone'"
        (save)="updateProfile()"
      >
      </app-input-form-control>
      <app-input-form-control
        formControlName="socialNetworksString"
        [label]="'Social Media'"
        [editable]="false"
      >
      </app-input-form-control>

      <ng-container *ngFor="let sm of socialMedia">
        <a href="{{ sm?.url }}" target="_blank">
          <img
            class="social-media-icon"
            src="{{ '../../../../assets/' + sm.icon }}"
            alt="{{ sm.name }}"
          />
        </a>
      </ng-container>
    </ng-container>
  </div>
  <button (click)="logout()" class="zentity-button-red">Logout</button>
</div>
