@import "../../../../assets/styles/shared.scss";

.profile-layout {
  @include app-layout;
  height: 100%;
  min-height: 100vh;
  background-color: $white;
  & p {
    color: $black;
    &.header {
      text-align: center;
    }
  }
}

.company-header-wrapper {
  display: flex;
  padding: 30px 0 10px 0;
  & .profile-photo-wrapper {
    flex: 1;
    & img {
      max-width: 11vw;
      float: right;
      margin-right: 1.5rem;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
  & .company-logo {
    @include main-logo;
  }

  & .back-button-wrapper {
    flex: 1;
    display: flex;
    & .back-button {
      @include back-button;
    }
  }
}

.content-wrapper {
  flex-grow: 1;
}

.form-wrapper {
  margin: 0 2rem 2rem 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  & .social-media-icon {
    cursor: pointer;
    padding-right: 0.5rem;
    width: 6vw;
    min-width: 20px;
    max-width: 40px;
  }

  & app-input-form-control {
    width: 100%;
    @media only screen and (min-width: $desktop) {
      width: 50%;
    }
  }
}
